<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   ProdExportOptions.plist
   iosApp

   Created by Ahmad Mahmoud on 07/12/2023.
   Copyright (c) 2023 orgName. All rights reserved.
-->
<plist version="1.0">
<dict>
    <key>compileBitcode</key>
    <true/>
    <key>uploadSymbols</key>
    <true/>
    <key>destination</key>
    <string>export</string>
    <key>method</key>
    <string>app-store</string>
    <key>signingCertificate</key>
    <string>Apple Distribution</string>
    <key>signingStyle</key>
    <string>automatic</string>
    <key>stripSwiftSymbols</key>
    <true/>
    <key>teamID</key>
    <string>C84BGQ5GW8</string>
    <key>thinning</key>
    <string>&lt;none&gt;</string>
    <key>provisioningProfiles</key>
    <dict>
        <key>APP_IDENTIFIER</key>
        <string>Prod Provisioning Profile</string>
    </dict>
</dict>
</plist>
